
.visualsplash > .row
{
  // min-height: calc(100vh - #{$header-nav-height + $header-height + $footer-height});
}

.slider-item {
  height: 60vh !important;
  text-align: center;
  svg {
    height: 50vh !important;
  }
}

.site-title
{
  font-family: Roboto, sans-serif;
  text-align: center;
  margin: 0px 0px 5px 0px;
  padding-top: 10px;
  
  h1 {
    transform: scale(0);
    transition: 0.5s all;
  }
}

#content {
  width: 100%;
}

.slick-prev:before, .slick-next:before {
  color: #17243e !important;
}

#dataset-grid {
  margin-top: 30px;
  
  .dataset-title {
    text-align: center;
    margin: 15px 0px;
  }
}

.dataset-block {
  text-align: center;
  margin-bottom: 5px;
  
  .image-wrapper {
    padding: 35px;
    background: white;
  }
  img {
    max-width: 100%;
  }
  
  span {
    color: black;
    font-size: 22px;
  }
}

.visual-wrapper {
  text-align: center;
  
  .visual-inner {
    max-height: 75vh;
    height: 75vh;
    display: flex;
    flex-direction: column;
  }
  
  .view-more {
    margin-top: 15px;
    color: #17243e;
    border: 1px solid #17243e;
    border-radius: 5px;
    padding: 10px;
    display: inline-block;
    &:hover {
      text-decoration: none;
      background: #17243e;
      color: white;
    }
  }
}

#map-container, .map-container
{
  min-height: 400px !important;
  max-height: 100%;
  height: initial;
}

.map-container
{
  height: 100%;
}

.sliderDiv>span {
  display: inline-block;
  min-width: 35px;
}
