$header-logo-height: 60px;
$header-nav-height: 60px;
$header-height: $header-nav-height + $header-logo-height;
$footer-height: 50px;

body {
  background-color: $background;
  margin: 0;
}

.content
{
  margin-top: $header-height;
  min-height:calc(100vh - #{$header-height + $footer-height});
}
