<app-header></app-header>
<div class="content">
  <router-outlet></router-outlet>
</div>
<div class="footer">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-md-12">
        <p>Copyright © 2017 · <a href="http://veniceprojectcenter.org/" target="_blank">Venice Project Center</a> · All Rights Reserved</p>
      </div>
    </div>
  </div>
  <div class="wpi-logo d-block d-md-absolute">
    <a href="https://www.wpi.edu/" target="_blank"><img src="assets/wpi-logo.svg" /></a>
  </div>
</div>
