
<div id="visual-title"><h2>Visual Details</h2></div>
<div class="container individual">
  <div class="row">
    <div class="col-12" id="visual-container"></div>
    <div class="col-12" id="details-container">
      <div class="details-wrapper">
        <div class="details-title">
          Get the embed code for this visual:
        </div>
        <div class="embed-container container">
          <div class="row">
            <div class="col-6 d-flex align-items-center">
              <textarea id="embed-text"></textarea>
              <span class="copy-embed ghost-button" id="copy-embed">Copy Code</span>
            </div>
            <div class="col-6"></div>
          </div>
            
        </div>
      </div>
    </div>
  </div>
</div>
