<div class="nav-wrapper">
  <div class="container nav-container">
    <div class="row d-flex align-items-center">
      <div class="data-column">
        <div class="visual-selector">
          <mat-form-field>
            <mat-select placeholder="Select a Dataset" [disabled]="dataSelectDisabled" [(value)]="selected" (change)="onDatasetChange($event.value)">
              <mat-option *ngFor="let dataset of datasets" [value]="dataset.id">{{ dataset.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="visual-selector" *ngIf="selected != ''">
          <mat-form-field>
            <mat-select placeholder="Select an Attribute" [disabled]="selected == ''" (change)="onVisualChange($event.value)">
              <mat-option *ngFor="let visual of visuals" [value]="visual.id">{{ visual.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container visualsplash">
  <div class="row">
    <div class="col-md-6 d-flex align-items-center site-title">
      <h1>Welcome to the Venice Project Center Data Portal!</h1>
    </div>
    <div class="col-md-6 d-flex align-items-center" id="content">
      
    </div>
  </div>
</div>
