<!-- <div class="nav-wrapper">
  <div class="container nav-container">
    <div class="row d-flex align-items-top">
        <div class="visual-selector col-md-3">
          <mat-form-field>
            <mat-select placeholder="Select a Category" [disabled]="dataSelectDisabled" [(value)]="selected" (change)="onDatasetChange($event.value)">
              <mat-option *ngFor="let dataset of datasets" [value]="dataset.id">{{ dataset.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-lg-7 d-none d-lg-inline-block offset-1">
          Welcome to the VPC data portal! You can use the dropdown on the left to browse visual about certain topics related to Venice.
        </div>
    </div>
  </div>
</div> -->

<div class="container visualsplash">
  <div class="site-title">
    <h2>Welcome to the Venice Project Center Data Portal!</h2>
  </div>
  <div class="row">
    <div class="" id="content">
      <div class="slider-item" id="visual1">
      </div>
      <div class="slider-item" id="visual2">
      </div>
      <div class="slider-item" id="visual3">
      </div>
      <div class="slider-item" id="visual4">
      </div>
    </div>
  </div>
  <div class="row" id="dataset-grid">
    <div class="col-12 dataset-title">
      <h2>Browse our Visuals by Category</h2>
    </div>
  </div>
</div>
